.comparison-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1200px;
}

.comparison-card {
  font-family: avenir, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #4F4C47;
}

.district-average {
  font-size: 1.5em;
}

.comparison-figure {
  font-size: 3em;
  color: #B81F38;
}