.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 85%;
}

@media screen and (max-width: 500px) {
  .CardsContainer {
    width: 100%;
  }
}
