/*APP COMPONENT RELATED CSS GOES HERE*/
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans|Raleway');

* {
    font-family: 'Raleway', sans-serif;
    /* background-color: #DDDBCB; */
    margin-top: 0;
}

.App {
    background-color: #C9C5BA;
    /* background-color: #EBBAB9; */
}

h1 {
    text-align: center;
}

.header {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 60px;
    color: #698996;
    padding-top: 20px;
}

.compared-card {
    height: 400px;
}

.compared-card-container {
   display: flex;
   /* flex-direction: row; */
   justify-content: center;
   /* border: 1px solid black; */
}