th {
  background-color: rgb(224, 164, 164);
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px 15px;
}

h1 {
  font-size: 1rem;
  color: rgb(100, 100, 100);
  font-weight: 900;
  font-style: italic;
  text-align: center;
}

table {
  margin: auto;
}

.card {
  display: inline-block;
  width: 250px;
  border: solid 3px transparent;
  padding: 20px 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 2px 6px 0px rgba(168, 168, 168, 0.48);
}

.card:hover {
  border: solid 3px rgb(224, 164, 164);
  box-shadow: 0px 2px 6px 0px rgba(224, 164, 164, 0.48);
}

.low-value {
  background: rgb(250, 250, 250);
  color: rgb(100, 100, 100);
}

.high-value {
  background: rgb(247, 235, 235);
  font-style: italic;
  font-weight: 700;
  color: rgb(100, 100, 100);
}

.border {
  border: solid 3px rgb(224, 164, 164);
  box-shadow: 0px 2px 6px 0px rgba(224, 164, 164, 0.48);
}
