.red {
  color: red;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  color: green;
}

article {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%;
  border: 2px black solid;
}