.comparison-card {
  background-color: #000;
}

h4 {
  text-align: center;
}

.location-one {
 margin: 40px 0px 0px 0px;
 font-size: 24px;
 color: #d4d4d6;
}

.average-one {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #d4d4d6;
}

.location-two {
  margin: 0px;
  font-size: 24px;
  color: #d4d4d6;
}

.average-two {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #d4d4d6;
}

 h2 {
  text-align: center;
  margin: 50px 0px 50px 0px;
  color: #fff;
  font-size: 28px;
}
