.comparisonContainer {
  margin: 0 auto;
  width: 80%;

}

.comparisonContainer div {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.selected {
  border: double #ea8e4f;
  text-align: center;
}

.comparisonContainer :nth-child(1) { order: 2; }
.comparisonContainer :nth-child(2) { order: 3; }
.comparisonContainer :nth-child(3) { order: 1; }