.card h3 {
  margin-bottom: 0;
  text-align: center;
}

.card-a,
.card-b {
  height: 100px;
}

.comparison {
  height: 60px;
}

.card .card-a h2,
.card .card-b h2 {
  margin-bottom: 0;
  height: 60px;
}

.comparison-value {
  margin: 0;
  text-align: center;
}