.comparisonCard {
    -ms-flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-shadow: 3px 2px 2px rgba(0,0,0,0.1);
    background: #eee;
    box-shadow: 3px 2px 2px rgba(0,0,0,0.1);
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 375px;
    justify-content: space-between;
    margin-bottom: 2%;
    padding: 40px 40px 40px 40px;
    width: 17%;
}

.comparisonCard div {
    display: inline-block;
    justify-content: normal;
}

.comparisonCard h2 {
    color: #323844
}

.comparisonCard h3 {
    margin: 0;
}

.comparisonCard h4 {
    color: #555;
    font-size: 2rem;
}

.comparisonCard :nth-child(1) { 
    order: 1; 
}

.comparisonCard :nth-child(2) { 
    order: 2; 
}

.comparisonCard :nth-child(3) { 
    order: 3; 
}