* {
  margin: 0;
  padding: 0;
}

.district-repository-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.controls-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-input {
  height: 20px;
  margin: 10px;
  width: 200px;
}

.search-button {
  height: 20px;
  width: 100px;
}

.district-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding-bottom: 10px;
  width: 30%;
}

.card h3 {
  margin: 10px;
}

.card-list {
  list-style-type: none;
}
