form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.search-button {
    background: linear-gradient(180deg, rgba(75,82,98,1) 0%, rgba(50,56,68,1) 100%);
    background: rgb(75,82,98);
    border: none;
    color: #7faccd;
    font-size: 14px;
    height: 52px;
    width: 65px;
}

.search-button:hover {
    background: linear-gradient(180deg, rgba(63,70,83,1) 0%, rgba(41,47,57,1) 100%);
    background: rgb(63,70,83);
    cursor: pointer;
}

.search-button:focus, .search-input:focus {
    outline: none;
}

.search-input {
    -moz-box-shadow: inset 0 0 3px #111;
    -webkit-box-shadow: inset 0 0 3px #111;
    border: none;
    box-shadow: inset 0 0 3px #111;
    color: #ea8e4f;
    font-size: 20px;
    height: 50px;
    padding-left: 10px;
    width: 350px;
}