/*APP COMPONENT RELATED CSS GOES HERE*/
.App {
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  padding: 0 0 15px 0;
  display: grid;
  grid-template-rows: 25% 25% 1fr;
  grid-template-columns: 1fr;
}