
.App {
background-image: #5ac475; /* Old browsers */
background-image: -moz-linear-gradient(top, #5ac475 0%, #469d7d 100%); /* FF3.6-15 */
background-image: -webkit-linear-gradient(top, #5ac475 0%,#469d7d 100%); /* Chrome10-25,Safari5.1-6 */
background-image: linear-gradient(to bottom, #5ac475 0%,#469d7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ac475', endColorstr='#469d7d',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Slabo+13px');

.App {
  background-color: white;
}

header {
  text-align: center;
  margin-top: 0;
  background-color: white;
  z-index: 10;
}

h1 {
  color: #469d7d;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

p {
  color: #d18643;
  font-family: 'Slabo 13px', serif;
  font-size: 18px;
  margin-top: 0;
  text-align: center;
  margin-bottom: 0;
}

.search-bar {
  display: block;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 2%;
  border-radius: 2px;
  border-style: none;
  width: 300px;
  font-size: 16px;
  font-family: 'Slabo 13px', serif;
}

.instructions {
  text-align: center;
  color: white;
  margin-bottom: 8%;
}