* {
  font-size: 20px;
  box-sizing: border-box;
}

.App {
  background: url('./finger-painting.jpg');
  position: relative;
  min-height: 100vh;

  &::before {
  content: "";
  background: rgba(#FFF, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  }
}

header {
  background: purple;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}