.blank-card {
  background-color: #9b9b9b;
  border: 8px solid black;
  border-radius: 20px;
  height: 270px;
  margin: 10px;
  opacity: 0.9;
  padding-bottom: 10px;
  width: 240px;
}

.click-district {
  color: lightgray;
  font-size: 48px;
  line-height: 1.5;
  margin-top: 60px;
  text-align: center;
}
