.compare-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 10%;
  width: 80%;
}

@media screen and (max-width: 1085px) {
  .compare-card-container {
    margin: 20px 2%;
    width: 96%;
  }
}

@media screen and (max-width: 905px) {
  .compare-card-container {
    align-items: center;
    flex-direction: column;
  }
}
