.compared-cards {
  background-color: rgba(5, 5, 5, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 10%;
  width: 800px;
  padding-top: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.clicked {
  background-color: black;
}