.compared-cards-container {
  position: fixed;
  padding-top: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(5, 5, 5, 1);
  border-color: rgba(5, 5, 5, 1);
  bottom: 10%;
  width: 825px;
}

.compared-cards {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 100%;
}

.compared-cards article {
  margin: 10px;
}

#remove-comparison {
  border: 3px solid #D23D54;
  background: none;
  color: #D23D54;
  margin-bottom: 10px;
  padding: 3px 3px 5px 3px;
}

.clicked {
  background-color: rgba(5, 5, 5, 1);
}