.red {
  color: #FC7753;
}

article {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 4px 10px 39px -14px rgba(0,0,0,0.75); 
  height: 450px;
  width: 325px;
  margin: 30px;
  border-radius: 25px;
  background-color:#dad1d27a;
  color:#404141;
}

header {
  padding-top: 10px;
  width: 100%;
  height: 100px;
  border-top-right-radius: 19px;
  border-top-left-radius: 19px;
  background-color: #fc7753bd;
  font-size: 1.3em;
  text-align: center;
  vertical-align: top;
}

h3 {
  margin: 10px auto;
  width: 85%;
  text-align: center;
}

ul {
  width: 50%;
  height: 100%;
  padding-top: 20px;
  margin: auto;
  text-align: left;
  font-size: 1.2em;
  
}

li {
  width: 100%;
  font-size: 1.3em;
  list-style: none;
  color: #404141;
}

.selected {
  border: 6px solid #309B96;
}

@media screen and (max-width: 1300px) {
  .selected {
    margin: 5px;
  }

  .selected header {
    font-size: 1em;
  }

  .selected ul {
    width: 100%;
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  .selected {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  ul {
    font-size: 1em;
    padding-top: 40px;
  }
}