.card-container {
  display: flexbox;
  flex-wrap: wrap;
  border: black 1px solid;
  display: flex;
  flex-wrap: wrap;
  width: 84%;
  height: 500px;
  margin: 10px auto;
  justify-content: center;
  overflow-y: scroll;
}