.Card {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 40px;
  background-color: #f4f4f4fa;
}

.Card:hover {
  cursor: pointer;
}

#large {
  width: 250px;
  height: 346px;
}

#small {
  width: 110px;
  height: 171px;
  border-radius: 26px;
}

#small h3 {
  font-size: 12px;
  margin: 3px;
}

#small li {
  font-size: 9.7px;
}

.high {
  color: #2d2db2;
}

.low {
  color: #dd4a0d;
}

h3 {
  text-align: center;
  font-family: 'Bree Serif', serif;
  margin: 6px 5px 14px 0;
  color: #434141;
}

ul {
  padding: 0;
  width: fit-content;
  margin: auto;
}

li {
  font-size: 20px;
  list-style-type: none;
  box-sizing: border-box;
}