.Header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 150px;
	background-color: #309B96;
	font-size: 25px;
	text-align: center;
}

.Search {
	position: relative;
	width: 70%;
	margin: auto;
}

.Search h1 {
	margin-bottom: 0px;
	font-family: 'Special Elite', cursive;
	color: #FFFFFF;
}

.Search-bar,
.Search-btn {
	height: 35px;
	padding: 10px;
	background: none;
	background-border: solid 2px #FFFFFF;
	border: solid 2px #FFFFFF;
	color: #FFFFFF;
	font-family: 'Special Elite', cursive;
	font-size: 16px;
}

.Search input::placeholder {
	color: #FFFFFF;
}

.Search-bar {
	width: 80%;
}

.Search-btn {
	position: absolute;
	right: 10%;	
	top: 52px;
}

@media screen and (max-width: 600px) {
	.Header {
		height: 200px;
		font-size: 20px;
	}

	.Search-btn {
    position: absolute;
    right: 10%;
    top: 95px;
    width: 327px;
	}
}

@media screen and (max-width: 500px) {
	.Search-bar {
		width: 100%;
	}

	.Search-btn {
    position: absolute;
    right: 0%;
    top: 125px;
    width: 100%;
	}
}
