.header {
    background-color: #414A54;
    height: 175px;
    width: 100%;
}

.logo {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo-img {
    height: 100px;
    width: 20%;
}

.logo-tex