.comparison-card {
  margin: 0 auto;
  background-color: rgb(232, 232, 232);
  width: 540px;
  padding: 20px;
  color: #54616D;
  border: 1px solid black;
  box-shadow: 10px 10px 30px -12px rgba(0,0,0,0.75);
  margin-bottom: 20px;
}

.district-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}

.comparison-ratio {
  text-align: center;
  font-size: 1.5rem;

}