.highStats {
  color: magenta;
}

.lowStats {
  color: chartreuse;
}

.card {
  min-width: 5rem;
  display: inline-block;
  border: solid black 2px;
  width: 15%;
  border-radius: 5%;

}

.card:hover {

}

.district {
  font-size: 1.25em;
}

.stats {
  font-size: 1em;
}