.card {
  width: 230px;
  margin: 1rem;
  text-align: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding-bottom: .5rem;
}

.card h1 {
  font-size: 1rem;
  margin: 1rem .5rem;
}

.card p {
  margin: .5rem;
}

.card:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, .8);
  color: #fff;
}

.red {
  color: red;
}

.green {
  color: green;
}

