.card {
  width: 230px;
  margin: 1rem;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  padding-bottom: .5rem;
  transition: .2s;
}

.card h1 {
  display: grid;
  align-items: center;
  padding: 1rem .5rem;
  background: #0CA7D3;
  color: #fff;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 50px;
  margin: 0;
}

.card p {
  margin: .5rem;
}

.card:hover {
  cursor: pointer;
  background: #0CA7D3;
  color: #fff;
}

.selected,
.selected:hover {
  background: #044C62;
  color: #fff;
  transition: 0;
}

.score-wrapper p img {
  width: 10px;
}

.score-container {
  margin-top: 1rem;
}