.comparison-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media only screen and (max-width: 1350px) {
  .comparison-container {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
