.district-card-container {
  margin: 0 10px;
  display: grid;
  grid-column: 2 /3;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}
