.district-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  box-sizing: border-box;
  padding: 1.5em 2em 1.5em 2em;

  margin-bottom: 1.2em;

  background-color: rgba(250, 250, 250, 0.8);

  -webkit-box-shadow: 10px 10px 57px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 57px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 57px -23px rgba(0, 0, 0, 0.75);

  border-radius: 10px;
}

.district-card:hover {
  background-color: rgba(250, 250, 250, 1);
}

.card-one {
  grid-column-start: 2;
}

.district-stats p {
  margin: 0;
}

.subPointFive {
  color: crimson;
}

.selected {
  border: 5px solid #4b86e5;
}

@media only screen and (max-width: 1350px) {
  .card-one {
    grid-column-start: 1;
  }
}

@media only screen and (max-width: 900px) {
  .district-card {
    width: 13rem !important;
  }
}
