@font-face {
  font-family: anon;
  src: url(../Fonts/AnonymousPro-Regular.ttf);
}

.avg-low {
  font-family: anon;
  color: rgb(169, 77, 77);
}

.avg-high {
  font-family: anon;
  color: green;
}

.year {
  font-family: anon;
  color: black;
}

.stats-show {
  text-align: left;
  line-height: 5px;
  padding-left: 20px;
}

.stats-hide {
  display: none;
}

.year-header-show,
.avg-header-show {
  font-size: 1.3rem;
  margin: 0 auto;
  display: inline-block;
  margin: 0 2rem;
}

.year-header-hide,
.avg-header-hide {
  display: none;
}

.district-card {
  cursor: pointer;
  background-color: rgb(228, 221, 221);
  border: 2px solid rgb(155, 153, 153);
  text-align: center;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #ccc;
  border-radius: 4px;
  animation: bazinga 1s ease-in;
}

.district-card-clicked1 {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid rgb(135, 111, 111);
  text-align: center;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #ccc;
  top: 10rem;
  left: 3rem;
  animation: bazinga 1s ease-in;
}

.district-card-clicked2 {
  position: absolute;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid rgb(135, 111, 111);
  text-align: center;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #ccc;
  top: 35rem;
  left: 3rem;
  animation: bazinga 1s ease-in;
}

.district-card:hover {
  background-color: white;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(181, 168, 168);
}

.district-card-clicked1:hover {
  background-color: rgb(228, 221, 221);
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(140, 135, 135);
}

.district-card-clicked2:hover {
  background-color: rgb(228, 221, 221);
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgb(148, 140, 140);
}

.district-location {
  font-size: 1.3rem;
  width: 14rem;
  text-align: center;
  margin: 1rem auto;
  align-self: center;
}

.hide-msg {
  display: none;
}

@keyframes bazinga {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
