.below-five {
  color: whitesmoke;
}

.above-five {
  color: orange;
}

.each-card {
  border: 2px solid blanchedalmond;
  border-radius: 8px;
  margin: 0.75rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 7px 1px black;
  box-shadow: 1px 1px 7px 1px black;
}

h1 {
  font-size: 1rem;
}

section {
  font-size: 0.8rem;
}

section,
h1 {
  text-align: center;
}
