.info-modal {
  position: absolute;
  width: 600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
  top: 150px;
  background: #fff;
}

.info-modal h1 {
  padding-top: 0;
  text-align: center;
}

.info-modal h1,
.info-modal p {
  margin: 1rem;
}

.info-modal img {
  margin: 1rem 0 0 1rem;
  width: 25px;
  transition: .3s;
}

.info-modal img:hover {
  cursor: pointer;
  transform: rotate(90deg);
}