.input-form input{
  margin: 1rem auto;
  display: block;
  width: 250px;
  height: 35px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding-left: .5rem;
}

.input-form {
  justify-self: end;
  margin-right: 1rem;
  display: block;
  opacity: 1;
  transition: .5s;
}

.hide {
  opacity: 0;
}
