form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

#button {
  height: 50px !important;
}

#search-input {
  box-sizing: border-box;
  background-color: #393A37;
  border: none;
  padding: 3px;
  height: 25px;
  width: 150px;
  color: #AAD74F;
  font-size: 1.3em;
}

#search-input::placeholder {
  color: #AAD74F;
  font-size: 1em;
  margin-left: 2px;
}

#button {
  box-sizing: border-box;
  border: 1px solid #AAD74F ;
  background: none;
  margin-left: 15px;
  height: 25px !important;
  color: #AAD74F;
}

