/*SEARCH COMPONENT RELATED CSS GOES HERE*/
.Search {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 50%;
}

input {
  height: 2rem;
  width: 100%;
  border: 2px solid #9E9E9E;
  padding-left: .6rem;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #9E9E9E;
}