.Control {
  border-bottom: 3px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 75px;
  position: relative;
  background-color: #e9fffc;
  color: #434141;

}

h1 {
  font-family: 'Bree Serif', serif;
  margin: 7px 0;
  font-size: 40px;
}

input {
  box-sizing: border-box;
}

input[type=text] {
  width: 140px;
  height: 39.5px;
  padding-left: 10px;
  border: none;
  transition: width 1s;
  background-color: #e9fffc;
}
 input:focus {
  width: 300px;
 }

 input::placeholder {
  color: #434141;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
 }

.input-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
}

.search-icon {
  font-size: 17.5px;
}

.error {
  outline-color: red;
}