h1 {
  margin: 7px 0;
  font-family: 'Bree Serif', serif;
  font-size: 40px;
}

input {
  margin-left: 10px;
  box-sizing: border-box;
}

input[type=text] {
  padding-left: 10px;
  height: 39.5px;
  width: 140px;
  background-color: #e9fffc;
  border: none;
  transition: width 1s;
}

input:focus {
  width: 300px;
}

input::placeholder {
  color: #434141;
  font-family: 'Bree Serif', serif;
  font-size: 15px;
}

.Control {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 75px;
  width: 100%;
  background-color: #e9fffc;
  border-bottom: 3px solid #e4e4e4;
  color: #434141;
}

.error {
  outline-color: red;
}

.input-cont {
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  font-size: 17.5px;
}