.CompareCard {
	display: flex;
	justify-content: center;
  padding: 0 0 1.5rem 0;
	background-color: #E9EBEE;
  width: 50%;
  margin: auto;
}

.average-card {
	align-items: center;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0px 0px 1px 2px #F5F6F7;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 26rem;
	justify-content: space-around;
	margin: 0 2rem 0.5rem;
	padding: 0 0 1rem;
	text-align: center;
	width: 15rem;
}

.location {
  font-family: 'Arvo', serif;
  margin: 1rem 2rem 0;
}

.average {
	background-color: #F5F6F7;
	border-radius: 10px;
	color: #01411b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	margin: 0.2rem auto;
	padding: 0 0.75rem;
}

.compared {
	color: #087ff5;
  font-family: 'Arvo', serif;
	font-size: 1.5rem;
}

.label-average, .label-location, .label-compared {
	color: #026332;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}