@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

body {
  background-color: lightblue;
  background-image: url('./images/yellow-paper.jpg');
  background-attachment: fixed;
}

.main-logo,
.instructions {
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-size: 64px;
  margin: 0;
}

.instructions {
  font-size: 40px;
  margin: 4px;
}