.App {
  display: grid; 
  grid-template-columns: auto auto auto auto auto auto;
  grid-auto-rows: minmax(16.7rem, auto);
  /* grid-template-areas:   */
 }


.App {
  display: flex;
  flex-direction: column-reverse;
}