@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

body {
  background-attachment: fixed;
  background-color: lightblue;
  background-image: url("./images/yellow-paper.jpg");
}

.instructions,
.main-logo {
  font-family: "Permanent Marker", cursive;
  font-size: 64px;
  margin: 0;
  text-align: center;
}

.instructions {
  font-size: 40px;
  margin: 10px;
}
