.Card {
  border: solid 2px black;
  border-radius: 10px;
  margin: 0.2rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  margin: 0.75rem 0 0.75rem 0;
}

ul {
  font-size: 0.8rem;
  margin: 0.25rem 0 0.25rem 0;
  padding: 0;
}
