.card {
  border: thin solid black;
  padding: 15px;
  margin: 10px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  box-shadow: 4px 4px 2px #aeaeae;
}

.card:hover {
  box-shadow: 6px 6px 4px #888888;
}

.selected {
  width: 200px;
  border-color: red;
}

.card-heading {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5px;
}

.sub-heading {
  font-size: .8em;
  font-weight: 600;
  margin-bottom: 5px;
}

.card-data {
  color: gray;
}

.year-data {
  margin: 0;
}

.greater-than {
  color: #0095A9;
  font-weight: 600;
}

.less-than-tag {
  margin-top: 10px;
  font-size: .8em;
}