p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.card {
  background-color: lightgrey;
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 260px;
  justify-content: space-evenly;
  margin: 10px;
  opacity: 0.9;
  padding-bottom: 20px;
  transition: all 0.4s ease-in-out;
  width: 200px;
}

.card p {
  margin-left: 18px;
}

.card:hover {
  background-color: #9b9b9b;
}

.school-name {
  text-align: center;
  padding: 0 8px;
  font-size: 22px;
}

.icon {
  margin-right: 10px;
  margin-left: 30px;
  height: 10px;
  position: relative;
  top: 1px;
}

.hide {
  display: none;
}