.card-comparison-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: thin solid black;
  margin: 30px auto;
  font-family: 'Raleway', sans-serif;
  width: 65%;
}

.comparison-heading {
  font-size: 1.5em;
}

.comparison-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.district-name {
  font-size: 1em;
  margin: 10;

}

.district-avg {
  margin: 0px;
  padding-left: 15px;
}

.comparison-value {
  font-weight: 400;
  margin: 10;
}

.clear-btn {
  width: 75px;
  height: 28px;
  border: 1px solid #0095A9;
  color: #0095A9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}