.cards {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  border-radius: 15px;
  margin: .2rem;
  width: 15.5%;
}

h2 {
  font-size: 1.3rem;
  text-align: center;
}

ul {
  font-size: .8rem;
  margin: .1rem .3rem .4rem .3rem;
  text-align: center;
  padding: 0;
}