.cards-container {
  display: grid;
  font-size: .85em;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 20px;
}

.info-card {
  border: solid 1px gray;
  border-radius: 20px;
}