@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

.card {
  border-radius: 15px;
  color: black;
  font-size: 16px;
  flex: 1 0 200px;
  margin: 1rem .60em;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  transition: background 0.1s linear;
  padding: 10px;
  opacity: 0.8;
  background: white;
  box-shadow:0 0 8px #16335F;
}

.card h3 {
  font-size: 16px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.card li {
  list-style-type: none;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 1.5
}

.card ul {
  padding: 0;
}

.card:hover {
  cursor: pointer;
  /*transform:scale(1.1);*/
  background: #D7E1F0;
}

.card:active {
  background: #D7E1F0;
}

.name-wrapper {
  border: 2px solid #275DAD;
  width: 100%;
  border-radius: 15px;
  background: #275DAD;
  color: white;
}

.green {
  color: black;
}

.green:before {
  content: '+ ';
  color: #109648;
}

.red {
  color: grey;
}


.red:before {
  content: '- ';
  color: red;
}


@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

/* Add styling to cards */