.cardHeader {
  font-size: 1em;
  padding: 5%;
}

.card { 
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1 11em;
  max-width: 11em;
  border: 1px solid #1D1E2C;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 1.5%;
  box-shadow: 3px 5px;  
  background-color: #bbbbbf;
}

.selected {

}

li {
  list-style-type: none;
  font-size: 1em;
}

ul {
  text-align: left;
  padding: 0;
}

.lessThan {
  color: #5D737E;
  font-weight: bold;
}