.compareCard { 
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 15%;
  border: 1px solid #1D1E2C;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 1.5%;
  box-shadow: 3px 5px;  
  background-color: #bbbbbf;
}

.none {
  display: none;
}