.comparison-card {
  background-color: #9b9b9b;
  border: 8px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 270px;
  justify-content: space-evenly;
  margin: 10px;
  opacity: 0.9;
  padding-bottom: 10px;
  text-align: center;
  width: 280px;
}

.comparison-card h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 2.8;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  position: relative;
}

.comparison-card p {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 20px;
  margin: auto;
  padding: 4px;
  font-size: 16px;
  width: 60px;
}

.avg-top {
  margin-right: 40px;
}

.avg-bottom {
  margin-left: 40px;
}

.pencil-icon {
  height: 42px;
  margin-right: 26px;
  position: relative;
  top: 13px;
  transform: rotate(45deg);
}

.rotate {
  margin-left: 0;
  margin-left: 26px;
  transform: rotate(225deg);
}

.apple-placeholder {
  background-color: #9b9b9b;
  border: 8px solid black;
  border-radius: 20px;
  height: 280px;
  margin: 10px;
  opacity: 0.9;
  width: 280px;
}

.apple-pic {
  display: flex;
  height: 120px;
  margin: 70px auto 0 auto;
}
