.compared-card {
  background-color: lightgrey;
  border: 4px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 280px;
  justify-content: space-around;
  line-height: 1.5;
  opacity: 0.9;
  padding-bottom: 10px;
  text-align: center;
}