.compared-card {
  background-color: lightgrey;
  border: 8px solid black;
  border-radius: 20px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  opacity: 0.9;
  padding-bottom: 20px;
  transition: all 0.4s ease-in-out;
  width: 240px;
}

.compared-card:hover {
  background-color: #9b9b9b;
}

.compared-card p {
  margin-left: 40px;
}

.school-name {
  text-align: center;
  padding: 0 8px;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}