
.comp-container {
  background-color: #C2B2B4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.comp-card {
  border: 2px solid chartreuse;
  width: 15vw;
  background-color: #ffffff;
}