.card {
  width: 200px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid rgba(220, 220, 220, 0.3);
  text-align: center;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all .2s ease-in-out;
}

.lower-half {
  color: red;
  margin: 0;
}

.upper-half {
  color: green;
  margin: 0;
}