* {
  font-family:'Roboto', sans-serif;
  color:#404141;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/higher-ed.jpg'); 
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
  font-family: sans-serif;
	height: 100vh;
}

/* 
font-family: 'Special Elite', cursive;
font-family: 'Roboto Mono', monospace; 
*/