* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
      list-style-type: none;
}

h1 {
  font-size: 16px;
  margin: 10px;
}
.data-card {
  display: inline-block;
  margin: 20px;
  width: 250px;
  height: 300px;
  border: 1px solid ;
}

.less-than {
  color: red;
}

.more-than {
  color: green;
}