html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: rgb(23, 35, 51);
}

header {
  margin: 0 auto;
  max-width: 110rem;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 3rem;
  margin: .5rem;
  color: rgb(90, 217, 255);
}

form {
  display: inline-block;
}

form input {
  width: 50rem;
  height: 3rem;
  margin: .5rem;
}

form button {
  border-style: none;
  height: 3.6rem;
  font-size: 2rem;
  margin: 0.1rem 2.5rem 0 0;
  width: 10rem;
  padding-bottom: .6rem;
}