form {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.submit-button {
}

.search-field {
  height: 30px;
  width: 300px;
  font-size: 22px;
}

.search-field,
.submit-button,
::placeholder {
  font-size: 22px;
}
