.search-field {
  width: 100%;
  display: flex;
  justify-content: center
}

input {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  outline: none;
  font-size: 16px;
} 